
ul {
  display: flex;
justify-content: space-evenly;
  justify-items:flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #ce7171;
}

li a {
  display: block;
  color: #d3c2c2;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #b2c6d4;
  color: white;
}ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0a0606;
}

li {
  float: left;
}

li a {




flex-wrap: nowrap;
align-content: normal;
justify-content: normal;
align-items: center;
  display: block;
  color: rgb(250, 244, 244);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #8886a0;
}